*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-container{
    position: relative;
}
.page-title{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    gap: 2em;
    background-color: rgba(0, 0, 0, 0.7);
}

#title{
    color: white;
    height: auto;
    font-size: 3em;
    font-weight: bold;
}

#japanese-letter{
    height: 100px;
    width: 100px;
}
